.container {
    margin: 100px 0 200px;

    h3 {
        font-size: 1.5rem;
        color: #53c60b;
        margin: 24px 0;
    }

    p {
        line-height: 30px;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: justify;
    }
}